.fade-enter-active {
  transition: 0.25s ease
  transition-property: opacity
}
.fade-leave-active {
  transition: 0.30s ease
  transition-property: opacity
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
