@import '../styles/variables.styl'

.home
  align-items: center
  display: flex
  flex-wrap: wrap
  height: 100%
  justify-content: center
  width: 100%

#introduction
  display: flex
  flex-wrap: wrap
  height: auto
  width: 75%
  span
    text-align: left
    letter-spacing: 0.04rem
    font-size: $font-size-large

#links
  display: flex
  justify-content: center
  width: 100%

#links-list
  align-items: center
  display: flex
  justify-content: center
  list-style-type: none
  padding: 0
  li
    padding: 2rem
