@import './styles/colors.styl'
@import './styles/variables.styl'

body, html
  background-color: $background-color
  height: 100%
  margin: 0
  width: 100%

html
  font-size: 62.5% // 1.0rem = 10px

body
  font: $font

#app
  background-color: $background-color 
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color $font-color
  height: 100%
  width: 100%

a
  color: inherit
  font-weight: 500
  letter-spacing: 0.025rem

#nav
  display: flex
  justify-content: center
  position: absolute
  padding: 4rem 0
  width: 100%

#nav-content
  display: flex
  justify-content: space-between
  width: 92.5%

.page-content
  align-items: center
  display: flex
  height: 100%
  justify-content: center
  width: 100%

